html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Nunito', sans-serif;
	font-family: 'Playfair Display', serif;
	font-size: 1.5vw;
	background: var(--color-background);
	color: var(--color-foreground);
	padding: var(--gap-padding);
	-webkit-font-smoothing: antialiased;
}

a:hover {
	text-decoration: underline;
}

@media (max-width: 1024px) {
	body {
		font-size: 4vw;
	}
}

@media (min-width: 1920px) {
	body {
		font-size: 2rem;
		max-width: 1920px;
		margin: 0 auto;
	}
}