:root {
	--color-background: #B9B0B0;
	--color-text-black: #000000;
	--color-text-white: #FFFFFF;
	--color-contact-button: #357434;
	--color-contact-button-hover: var(--color-button-hover);

	--color-button: #426946;
	--color-button-hover: #2C3D2E;

	--color-filter-button: var(--color-text-white);
	--color-filter-button-hover: var(--color-text-black);
	--color-filter-section-background: #D9D9D9;

	--color-product-card-background: var(--color-text-white);
	--color-overlay-button: #e507aa;
	--color-background-white: var(--color-text-white);
	--color-background-black: var(--color-text-black);

	--gap-column: 1rem;
	--gap-row: 1rem;
	--gap-section: 10px;
	--gap-product-information: 40px;

	--gap-padding: 10px;
	--gap-button-padding: 0.5rem;
	--gap-proudct: 10px;
	--radius-border: 20px;

}