.main-header__logo {
	background: linear-gradient(to bottom, var(--color-background-black), rgba(19, 18, 18, 0));
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-header__logo img {
	max-width: 414px;
	max-height: 99px;
	width: 100%;
	height: auto;
}

.main-header__button {
	background: var(--color-contact-button);
	color: var(--color-text-white);
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-header__button--contact {
	border: none;
	padding: 36px 20px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
}

.main-header__button--contact:hover {
	text-decoration: underline;
}